http:
  api:
    management:
      enabled: true
      entrypoint: /management
    portal:
      enabled: true
      entrypoint: /portal
  secureHeaders:
    csrf:
      enabled: true
    hsts:
      enabled: true
      include-sub-domains: true
      max-age: 31536000
    xframe:
      enabled: true
      action: SAMEORIGIN
    xContentTypeOptions:
      enabled: true
    csp:
      policy: "frame-ancestors 'self';"
    referrerPolicy:
      policy: "strict-origin-when-cross-origin"
    permissionsPolicy:
      policy: "geolocation=(), microphone=(), camera=()"
plugins:
  path:
    - ${gravitee.home}/plugins
    - ${gravitee.home}/plugins/ext
management:
  type: jdbc
  jdbc:
    url: jdbc:postgresql://${ds.postgres.host}:${ds.postgres.port}/${ds.postgres.dbname}
    username: ${ds.postgres.username}
    password: ${ds.postgres.password}
    driver: org.postgresql.Driver
    liquibase: true
services:
  core:
    http:
      enabled: true
      port: 18083
      host: localhost
      authentication:
        type: basic
        users:
          admin: adminadmin
  bridge:
    http:
      enabled: false
  metrics:
    enabled: false
    prometheus:
      enabled: true
  v3-upgrader:
    enabled: true
  auto_fetch:
    enabled: true
    cron: "0 */5 * * * *"
  subscription:
    enabled: true
    pre-expiration-notification-schedule: 90,45,30
analytics:
  type: elasticsearch # or none
  elasticsearch:
    endpoints:
      - http://${ds.elastic.host}:${ds.elastic.port}
security:
  providers:  # authentication providers
    - type: memory
      password-encoding-algo: bcrypt
      users:
        - user:
          username: user
          password: $2a$10$9kjw/SH9gucCId3Lnt6EmuFreUAcXSZgpvAYuW2ISv7hSOhHRH1AO
          roles: ORGANIZATION:USER,ENVIRONMENT:USER
        - user:
          username: admin
          password: $2a$10$Ihk05VSds5rUSgMdsMVi9OKMIx2yUvMz7y9VP3rJmQeizZLrhLMyq
          roles: ORGANIZATION:ADMIN,ENVIRONMENT:ADMIN
        - user:
          username: api1
          password: $2a$10$iXdXO4wAYdhx2LOwijsp7.PsoAZQ05zEdHxbriIYCbtyo.y32LTji
          roles: ORGANIZATION:USER,ENVIRONMENT:API_PUBLISHER
        - user:
          username: application1
          password: $2a$10$2gtKPYRB9zaVaPcn5RBx/.3T.7SeZoDGs9GKqbo9G64fKyXFR1He.
          roles: ORGANIZATION:USER,ENVIRONMENT:USER
    - type: gravitee
email:
  enabled: false
  host: smtp.my.domain
  subject: "[Gravitee.io] %s"
  port: 587
  from: noreply@my.domain
ds:
  postgres:
    dbname: gravitee
    host: postgres
    port: 5432
    username: gravitee
    password: gravitee
  elastic:
    host: localhost
    port: 9200
jwt:
  secret: myJWT4Gr4v1t33_S3cr3t
installation:
  api:
    url: http://localhost
    proxyPath:
      management: /management
      portal: /portal
swagger:
  scheme: https
user:
  login:
  password:
    policy:
      description: Password must be at least 12 characters long, contain at least one digit, one upper case letter, one lower case letter, one special character, and no more than 2 consecutive equal characters.
      pattern: ^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[!~<>.,;:_=?/*+\-#\"'&§`£€%°()|\[\]$^@])(?!.*(.)\1{2,}).{12,128}$
  creation:
    token:
  reference:
  anonymize-on-delete:
documentation:
  markdown:
    sanitize: true
  swagger:
    validate-safe-content: true # Validate safe content in Swagger descriptor. Default is true.
  audit:
    max-content-size: -1 # Max size of content in bytes to be stored in audit logs when importing an API. Default is -1 meaning their is no limit.
search:
  data: ${gravitee.home}/data
notifiers:
  email:
    enabled: true
    host: ${email.host}
    subject: ${email.subject}
    port: ${email.port}
integration:
  enabled: false
  controller:
    ws:
      port: 8072
api:
  v2:
    emulateV4Engine:
      default: yes
  properties:
    encryption:
      secret: vvLJ4Q8Khvv9tm2tIPdkGEdmgKUruAL6
scoring:
  enabled: false
